.selfactivity-overlay {
    position:fixed; 
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}

.selfactivity-dialog { 
	position:absolute; 
	top:30%; 
	left: 20%; 
	width:60%; 
	background-color:white; 
	color: black; padding: 20px; 
	text-align:center; 
	font-size: 18px;
} 

.selfactivity-dialog img {
	padding-bottom: 20px;
	width: 64px;
}

.selfactivity-button {
	padding: 0.5em 2em;
	margin: 1em;
	font-size: 18px;
}
