body {
  background: #fff;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2, h3 {
  margin-top: 0;
  font-weight: bold;
}

h1 {
  font-size: 29px;
  img.head-icon {
    height: 29px;
    margin-top: -6px;
  }
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 18px;
}

pre {
  background: #fff;
  color: #333;
  border: none;
  padding: 0;
}

label {
  font-weight: bold;
}
	
.license {
	padding-top: 2em;

}

thead {
	font-weight: bold;
}

td {
	padding: 1em 1em 0 0; 
}

.messages .alert div {
  padding-bottom: 8px;
}

input, select, div.legend {
  margin-bottom: 10px;
}


@media print { 
  .print-button {
    display: none;
  }
}